@font-face {
  font-family: 'Overpass-ExtraBold';
  src: url('./Overpass-ExtraBold.ttf');
}

@font-face {
  font-family: 'SourceHanSansCN-ExtraLight';
  src: url('./SourceHanSansCN-ExtraLight.otf');
}

@font-face {
  font-family: 'SourceHanSansCN-Light';
  src: url('./SourceHanSansCN-Light.otf');
}

@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url('./SourceHanSansCN-Medium.otf');
}

@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url('./SourceHanSansCN-Regular.otf');
}
