.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  @extend .center;
  font-size: 12px;
  width: 100%;
  height: 4em;
  text-align: center;
  color: #FFFFFF;
  line-height: 2;
  letter-spacing: 2.6px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}
